<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Um okkur</h1>
            <!-- <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="../images/umOkkur.png" alt="">
        </div>
        <div class="col-md-6">
          <p>Við leggjum áherslur á  liðsheild, leiðtogahegðun, stefnumótun, markþjálfun, umbótastarf, betri rekstur, innra skipulag, stjórnun og persónulega þróun.</p>

          <p>Aðstoðum vinnustaði við að leysa úr flækjum, skapa virði, hámarka vöxt, þróa og þroska árangur af viðskiptum.</p>

          <p>Ráðgjafarnir nota alla viðskiptatengda þekkingu sína og sérfræði til að gefa góð ráð og hjálpa stjórnendum að þróa lausnir við daglegum áskorunum.</p>

          <p>Við eigum samstarfsaðila út um allan heim og erum sífellt að bæta þekkingu okkar og reynslu á þeim sviðum sem að snúa að okkar þjónustu.</p>

          <p>Við erum lipur í samskiptum, metnaðarfull og viljum hafa gaman að því sem að við erum að gera.</p>

        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row col-md-12">
        <div class="col-lg-12">
            <h2 class="page-header">Starfsfólk</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail" style="height: 800px;">
                <img class="img-responsive" src="../images/FridfinnurHermanns.png" alt="">
                <div class="caption">
                    <h3>Friðfinnur Hermannsson<br>
                        <small>Stjórnunarráðgjafi</small>
                    </h3>
                    <p>Friðfinnur hefur verið í stjórnunarráðgjöf árum saman. Hann hefur unnið með stjórnendum í nánast öllum atvinnugreinum við stefnumótun, liðsheild og umbótastarf.</p>
                    <p><a href='mailto:fridfinnur.hermannsson@nolta.is'>fridfinnur.hermannsson@nolta.is</a></br>
                    GSM: 860 1045</br>
                    <a href='../CV/CV english Friðfinnur.pdf' download>CV</a></p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/profile.php?id=100001665322122&fref=ts"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/profile/view?id=AAMAAAEv_WABhFboxe_KWM6oGDecnSTSJjrlMyw&authType=name&authToken=5kAy&trk=hp-feed-member-name"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail" style="height: 800px;">
                <img class="img-responsive" src="../images/SigurjonThordar.png" alt="">
                <div class="caption">
                    <h3>Sigurjón Þórðarson<br>
                        <small>Stjórnunarráðgjafi</small>
                    </h3>
                    <p>Hann hefur til margra ára unnið með öflugum stjórnendum og vinnustöðum að umbótastarfi, liðsheildar og leiðtogavinnu, stefnumótun og innra skipulag.</p>
                    <p><a href='mailto:sigurjon.thordarson@nolta.is'>sigurjon.thordarson@nolta.is</a></br>
                    GSM: 893 1808</br>
                    <a href='../CV/CV english Sigurjón.pdf' download>CV</a></p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/sigurjon.thordarson.5?fref=ts"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/profile/view?id=AAkAAAYkUT8BFYBBpUcpJbfNOqRAkjhgWbitPCU&authType=NAME_SEARCH&authToken=FHmx&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A103043391%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1449590393462%2Ctas%3Asigurjon%20%C3%BE%C3%B3r%C3%B0"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail" style="height: 800px;">
                <img class="img-responsive" src="../images/GudrunSnorra.png" alt="">
                <div class="caption">
                    <h3>Guðrún Snorradóttir<br>
                        <small>Stjórnunarráðgjafi</small>
                    </h3>
                    <p>Guðrún hefur sl. fjögur ár starfað við mannauðsráðgjöf og sérstaklega við ráðgjöf og markþjálfun meðal stjórnenda og stjórnendahópa, bæði hjá hinu opinbera sem og í einkageiranum. </p>
                    <p><a href='mailto:gudrun.snorradottir@nolta.is'>gudrun.snorradottir@nolta.is</a></br>
                    GSM: 664 7610</br>
                    </p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/profile.php?id=1456592278&fref=ts"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://is.linkedin.com/in/guðrún-snorradottir-b6665b15"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4 text-center">
            <div class="thumbnail" style="height: 800px;">
                <img class="img-responsive" src="../images/YlfaEdith.png" alt="">
                <div class="caption">
                    <h3>Ylfa Edith Fenger<br>
                        <small>Stjórnunarráðgjafi</small>
                    </h3>
                    <p><a href='mailto:ylfa.fenger@nolta.is'>ylfa.fenger@nolta.is</a></br>
                    GSM: 840 5400</br>
                    </p>
                    <p>Ylfa sérhæfir sig í markþjálfun, stjórnendaþróun og ráðgjöf á sviði mannauðsmála.  Hún hefur 15 ára reynslu af mannauðsmálum.  </p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/ylfa.jakobsdottir?fref=ts"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://is.linkedin.com/in/ylfa-edith-jakobsdóttir-fenger-97827986"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail" style="height: 800px;">
                <img class="img-responsive" src="../images/ArniSverris.png" alt="">
                <div class="caption">
                    <h3>Árni Sverrison<br>
                        <small>Stjórnunarráðgjafi</small>
                    </h3>
                    <p>Árni Sverrisson hefur unnið sem stjórnandi í heilbrigðiskerfinu á Íslandi frá árinu 1980.  Undanfarin ár hefur hann unnið við stjórnunarráðgjöf með áherslu á heilbrigðisskerfið og sem stuðningur við stjórnendur. </p>
                    <p><a href='mailto:arni.sverrison@nolta.is'>arni.sverrison@nolta.is</a></br>
                    GSM: 898 5891</br>
                    </p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/arni.sverrisson?fref=ts"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://is.linkedin.com/in/árni-sverrisson-baa47461"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
    </div> -->
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->
