<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='page-header'>Leiðtogahæfni</h1>
    </div>
  </div>
  <h2>Self - Navigation</h2>
  <p>Skilvirkasta leiðin til að ná tökum á hinum daglega stormi og sítruflandi aðstæðum er að hafa stjórn á sjálfum sér á faglegan og styrkan hátt.
    Á framúrskarandi vinnustöðum hafa stjórnendur góð, þrautreynd tæki og tól til að geta komið í framkvæmd stefnu vinnustaðarins á árangursríkan hátt.
    Þessi sömu tæki gera vinnustöðunum kleift að aðstoða stjórnendur/leiðtoga sína við að þróast og ná árangri í starfi.</p>
  <p>N.E.W.S. Self navigation vinnustofurnar eru kærkomin nýjung til að þjálfa saman leiðtoga vinnustaðarins.
    Þetta er skipulagt ferli sem hjálpar einstaklingunum að skoða bæði sína persónulegu þróun og hvert stefnir með starfsferil sinn á virkan og uppbyggilegan hátt.
     Með því að fara í gegnum þessar vinnustofur munu bæði leiðtogarnir og vinnustaðurinn auka samkenndina,
     yfirtíga hindranir, setja sér hæfilega krefjandi markmið og aðgerðaráætlun til að ná betri árangri.</p>

  <h3>Hverjir ættu að koma</h3>
  <p>Vinnustofurnar eru hannaðar fyrir:</p>
    <ul>
      <li>Efnilega leiðtoga innan vinnustaða.</li>
      <li>Stjórnendur og leiðtoga sem eru í hinum dagslega stormi og vantar auka kraft.</li>
      <li>Einstaklinga sem vilja efla sig persónulega með skilvirkum hætti.</li>
    </ul>
  <h3>Markmið vinnustofanna:</h3>
  <ul>
    <li>Uppgötva sitt sanna „Norður“ og næstu bættu útgáfu af sjálfum þér.</li>
    <li>Setja niður skynsamlega framtíðarsýn og búa til skipulagt verklag svo hún verði að veruleika.</li>
    <li>Koma auga á persónulegar hindranir en um leið skapa sér verkfæri og leiðir framhjá þeim.</li>
    <li>Draga fram eigin gildi og hvata</li>
    <li>Byggja aðgerðaráætlun til að ná markmiðum og framtíðarsýninni.</li>
  </ul>
  <div class='col-md-12' style='margin-top:20px;'>
    <img class="img-responsive" src="../images/selfNav.png" alt="">
  </div>
</div>
