<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='page-header'>Starfsferilsþróun</h1>
    </div>
  </div>
  <h2>Career - Navigation</h2>
  <p>Tækifæri starfsfólks í heimi sem bíður upp á fjölbreytta möguleika hafa aukist umtalsvert.
    Auknum möguleikum fylgja óhjákvæmilega margar spurningar, óvissa og ógnir.
    Að geta valið réttan möguleika á réttum tíma getur verið ákaflega krefjandi, sér í lagi ef vegurinn framundan er ógreinilegur og að því er virðist torfær á köflum.
    Stjórnendum og starfsfólki býðst hér vel reynt tæki sem hjálpar við að stýra og velja góða leið fyrir starfsferil sinn og þróa eigin markmið.</p>
  <p>N.E.W.S. Career Navigation vinnustofurnar eru kærkomin nýjung sem hjálpar einstaklingum við að stýra sínum starfsferli.
    Þetta tæki leiðbeinir þátttakendum að finna sitt sanna „Norður“ auka innri hvatningu, yfirstíga hindranir, setja sér hæfilega krefjandi markmið og aðgerðaráætlun til að ná betri árangri.
    Einnig bíður það upp á að einstaklingarnir geti stillt sinn eiginn áttavita við áttavita vinnustaðarins.</p>

  <h3>Hverjir ættu að koma</h3>
  <p>Vinnustofurnar eru hannaðar fyrir:</p>
    <ul>
      <li>Efnilega leiðtoga innan vinnustaða.</li>
      <li>Starfsfólk sem vill klífa þróunarstigann.</li>
      <li>Einstaklinga og vinnustaði sem undirbúa breytingaferli.</li>
    </ul>
  <h3>Markmið vinnustofanna:</h3>
  <ul>
    <li>Setja niður framtíðarskref fyrir starfsferilinn og búa til skipulagt verklag svo að þau verði að veruleika.</li>
    <li>Koma auga á persónulegar hindranir en um leið skapa sér verkfæri og leiðir framhjá þeim.</li>
    <li>Draga fram eigin gildi og hvata</li>
    <li>Byggja aðgerðaráætlun til að ná markmiðum og framtíðarsýn.</li>
  </ul>
  <div class='col-md-12' style='margin-top:20px;'>
    <img class="img-responsive" src="../images/selfNav.png" alt="">
  </div>

  <h1>Outplacement</h1>
</div>
