<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='page-header'>N.E.W.S. Team Navigation</h1>
    </div>
  </div>
  <p>Leiðtogar liða takast á við kunnulegar hindranir á hverjum degi.
    Standa skil á eigin verkefnum á sama tíma og þeir leiða sitt lið í gegnum öldurót hversdagsins.
    Margar leiðir að velja, stöðugar breytingar í innra og ytra umhverfi sem dregur úr virkni liðsins ef ekki er vel að gætt.
    Þeim er ætlað að leiða, stjórna og þróa liðið svo það geti náð markmiðum vinnustaðarins í flóknum aðstæðum.
    Leiðtogum er því mikilvægt að geta notið stuðnings af góðum verkfærum sem hjálpa til við að stilla liðið saman og ná árangri sem eftir er tekið.</p>
  <p>N.E.W.S. Team Navigation verkfærið er heilstætt og vel skipulagt ferli sem myndar skýran ramma fyrir leiðtoga sem vilja ná markmiðum sínum
    og er undirstaða vandaðrar vinnu við að greina og yfirstíga hindranir.
    Verkfærið er t.d. upplagt fyrir umbótaferli þar sem allir sem að því koma geta auðveldlega skuldbundið sig til þátttöku og mótað með sér sameiginlegan skilning á verkefnum sem eru framundan.
    Þessi tveggja og hálfsdags vinnustofa er einnig hentug sem árleg aðferð til að stilla saman verkefni og leiðtoga.</p>

  <h3>Fyrir hverja:</h3>
  <p>Virk lið sem vilja meira, verkefnahópa sem geta betur, ný lið og samsett lið úr matrixu-umhverfi.</p>
    <ul>
      <li>Vinnustofurnar auka á samheldni liða.</li>
      <li>Byrja á verkefnum í stefnumiðuðum ramma.</li>
      <li>Eykur árangur liða svo eftir er tekið.</li>
      <li>Flýtir þróunarferli nýrra eða endurnýjaðra liða.</li>
      <li>Kemur hálfvirkum liðum á fætur aftur.</li>
    </ul>
  <h3>Markmið vinnustofanna:</h3>
  <ul>
    <li>Skapa sameiginlegt tungumál fyrir liðið sem bætir samskipti.</li>
    <li>Móta taktvissan skilning allra á stefnu og sýn liðsins.</li>
    <li>Draga fram þær hindranir og hættur sem minnka líkur á því að liðið nái settum markmiðum.</li>
    <li>Skýra hvernig liðið nær árangri í takt við grunngildi þess.</li>
    <li>Setja niður meginmarkmið og aðgerðaráætlun.</li>
  </ul>
  <div class='col-md-12'>
    <img class="img-responsive" src="../images/teamNav.png" alt="">
  </div>
</div>
